/*Popoverのnavbar-fixed-topへのZインデックスの補正*/
.popover.in {
  z-index: 9999;
}
.popover {
	position: fixed;
}
.flat-navbar-btn {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}
.navbar-right-end{
	margin-right: 15px;
}

